section.skills {
    background: (--cor-skill-form);
    padding: 18px 160px;

}

section.skills div.skills-line {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
}

section.skills div.skills-line div.skills-box {
    background-color: var(--cor-skill-form);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

section.skills h3.skills-title {
    margin: 2rem;
    color: var(--cor-sobre-mim);
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.skills-box ul {
    margin: 0;
    padding: 0;

}
