
section.about div.about-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

section.about {
    padding: 10px 10px;
    background: var(--cor-sobre-mim);
    min-width: 320px;
}

h3.menu-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-texto);
}    

section.about h3.about-title {
    font-weight: 700;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0px 10px 0px;
    font-size: 2em;
    color: var(--cor-de-fundo);
}

section.about div.about-container p {
    font-weight: 400;
    line-height: 17px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-de-fundo);
}


    
